<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blinxwift.blinxweather">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/blinxweathermainicon"
        android:label="Blinx Weather"
        android:roundIcon="@mipmap/blinxweatherroundicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlp4YA0c0AOfNyuL7r5Er1_uLbeLvrVs4" />

        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:label="Location Search"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SavedLocationSelectionActivity"
            android:label="Saved Locations"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.TemperatureActivity"
            android:label="Celsius/Farenheit Selector"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>